.results ul {
  list-style: none;
}

.results li {
  padding: 0.5rem;
  display: inline;
  color: rgb(116, 118, 121);
}
.results li:hover {
  cursor: pointer;
}

.results li:active {
  background: #ebf8e1;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
