.form {
  width: 90%;
  max-width: 30rem;
  margin: 10rem auto;
  padding: 2rem;
  position: relative;
  color: #464646;
}

.title {
  color: #3587aa;
}

.description {
  font-style: italic;
  color: rgb(53, 135, 170, 0.7);
}

.avatar {
  position: absolute;
  top: -20px;
  right: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.temp {
  position: absolute;
  bottom: -20px;
  right: 75px;
  font-size: 4em;
  color: #464646;
}

.real_feel {
  position: absolute;
  bottom: 5px;
  right: 75px;
}
@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .form {
    margin: 10rem 1rem;
  }
}
